@keyframes mosaic-tile-animate
    0%
        backdrop-filter none
        box-shadow none
    50%
        backdrop-filter blur(5px)
        box-shadow 1px 2px 4px rgba(#9684A3, .8)
    100%
        backdrop-filter none
        box-shadow none
