body
    --el-text-color-primary #606266

    --el-color-primary #9684A3
    --el-color-primary-light-3 rgba(#9684A3, .8)
    --el-color-primary-light-5 rgba(#9684A3, .6)
    --el-color-primary-light-7 rgba(#9684A3, .4)
    --el-color-primary-light-8 rgba(#9684A3, .2)
    --el-color-primary-light-9 rgba(#9684A3, .1)
    --el-color-primary-dark-2 #9684A3

    --el-color-success #2CC990
    --el-color-success-light-3 rgba(#2CC990, .8)
    --el-color-success-light-5 rgba(#2CC990, .6)
    --el-color-success-light-7 rgba(#2CC990, .4)
    --el-color-success-light-8 rgba(#2CC990, .2)
    --el-color-success-light-9 rgba(#2CC990, .1)
    --el-color-success-dark-2 #2CC990

    --el-color-info #fff
    --el-color-info-light-3 rgba(#fff, .8)
    --el-color-info-light-5 rgba(#fff, .6)
    --el-color-info-light-7 rgba(#fff, .4)
    --el-color-info-light-8 rgba(#fff, .2)
    --el-color-info-light-9 rgba(#fff, .1)
    --el-color-info-dark-2 $regular

    --el-menu-active-color var(--el-color-primary)
    --el-menu-hover-bg-color var(--el-color-primary-light-9)
    --el-menu-text-color var(--el-text-color-primary)
    