:root
    --el-text-color-primary #606266

    --el-color-primary $purple
    --el-color-primary-light-3 rgba($purple, .8)
    --el-color-primary-light-5 rgba($purple, .6)
    --el-color-primary-light-7 rgba($purple, .4)
    --el-color-primary-light-8 rgba($purple, .2)
    --el-color-primary-light-9 rgba($purple, .1)
    --el-color-primary-dark-2 $purple

    --el-color-success $green
    --el-color-success-light-3 rgba($green, .8)
    --el-color-success-light-5 rgba($green, .6)
    --el-color-success-light-7 rgba($green, .4)
    --el-color-success-light-8 rgba($green, .2)
    --el-color-success-light-9 rgba($green, .1)
    --el-color-success-dark-2 $green

    --el-color-info #fff
    --el-color-info-light-3 rgba(#fff, .8)
    --el-color-info-light-5 rgba(#fff, .6)
    --el-color-info-light-7 rgba(#fff, .4)
    --el-color-info-light-8 rgba(#fff, .2)
    --el-color-info-light-9 rgba(#fff, .1)
    --el-color-info-dark-2 $regular

    --el-menu-active-color var(--el-color-success)
    --el-menu-hover-bg-color var(--el-color-primary-light-9)
    --el-menu-text-color var(--el-text-color-primary)

    --el-fill-color-light var(--el-color-primary-light-9)
    --el-fill-color-extra-light var(--el-color-primary-light-9)
    --el-fill-color-lighter var(--el-color-primary-light-9)
    