body
    --el-color-primary: #9684A3
    --el-color-primary-light-3: rgba(#9684A3, .8)
    --el-color-primary-light-5: rgba(#9684A3, .6)
    --el-color-primary-light-7: rgba(#9684A3, .4)
    --el-color-primary-light-8: rgba(#9684A3, .2)
    --el-color-primary-light-9: rgba(#9684A3, .1)
    --el-color-primary-dark-2: #9684A3
    --el-color-success: #2CC990
    --el-color-success-light-3: rgba(#2CC990, .8)
    --el-color-success-light-5: rgba(#2CC990, .6)
    --el-color-success-light-7: rgba(#2CC990, .4)
    --el-color-success-light-8: rgba(#2CC990, .2)
    --el-color-success-light-9: rgba(#2CC990, .1)
    --el-color-success-dark-2: #2CC990