/** UI Buttons */
button.el-button
  min-width 148px
  &.purple
    --el-border-color #9684A3
    --el-button-hover-text-color #9684A3
    --el-button-bg-color #9684A3
    --el-button-hover-border-color #9684A3
    --el-button-text-color #fff
    --el-button-hover-bg-color #fff
    transition all .2s ease
    border-radius var(--el-border-radius-small)
    box-shadow var(--el-box-shadow-light)
    &:hover
      box-shadow none
  &.green
    --el-border-color #2CC990
    --el-button-hover-text-color #2CC990
    --el-button-bg-color #2CC990
    --el-button-hover-border-color #2CC990
    --el-button-text-color #fff
    --el-button-hover-bg-color #fff
    transition all .2s ease
    border-radius var(--el-border-radius-small)
    box-shadow var(--el-box-shadow-light)
    &:hover
      box-shadow none
