/** UI Buttons */
.el-button
    &:not(&__my-link, &.is-text)
        min-width 148px
    border-radius var(--el-border-radius-small)
    &:hover
        box-shadow var(--el-box-shadow-light)
    &--text
        color $regular
        &:not(.is-disabled):focus
        &:not(.is-disabled):hover
            color $regular

    &--info
        --el-button-text-color $purple
        --el-button-hover-text-color $purple
        &.is-plain
            --el-button-hover-text-color $purple


/** UI Form */
.el-form
    &-item
        align-items center
        &__label
            align-items center

/** UI DatePicker */
.el-date-picker
    .el-date-table td.today .el-date-table-cell__text
        color #2CC990

/** UI Notification */
.el-notification
    &__content
        text-align left

/** UI Tag */
.el-tag.el-tag--info {
    --el-tag-text-color: #606266;
}

.el-menu-vertical-demo
    height 100vh
    border-right 4px solid transparent
    border-image linear-gradient(#2CC990, #9684A3)
    -moz-border-image -moz-linear-gradient(#2CC990, #9684A3)
    -webkit-border-image -webkit-linear-gradient(45deg, #2CC990, #9684A3)
    border-image-slice 1
    padding 26px 0
    &:not(.el-menu--collapse)
        width 240px

.el-radio-group
    display inline-block
