@import 'element-plus/dist/index.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap');

/* Colors **/
$regular = #606266
$primary = #303133
$purple = #9684A3
$green = #2CC990

/* Reset Styl **/
body
  margin 0
  font-size 16px
  color $regular
  *
    font-family 'Raleway', sans-serif
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    line-height 2
    box-sizing border-box
ul
  margin 0
  padding 0
  li
    list-style-type none

a
  text-decoration none
  color inherit

a
h1,h2
p
  margin 0

h1,h2,h3
  line-height 1.5

@import './styl';
