@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap')

body
  margin 0
  *
    box-sizing border-box

#app
  font-family 'Poiret One', sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 18px
  font-weight 200
  color #606266
